body {
    color: #999;
    position: relative;
}

#myForm {
    display: block;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: #333;
    box-sizing: border-box;
    min-width: 340px;
    width: 22%;
    position: absolute;
    top: 15%;
    left: 22%;
    background-color: beige;
  }

  .flexbox {
    display: flex;
  }

  .part2 {
    margin-left: 5%;
    margin-right: 5%;
  }
  [name="from"], [name="to"]  {
    width: 95%;
  }


  input {
    height: 20px;
  }

  button {
    height: 30px;
    width: 100%;
  }

  [type="text"], [type="date"] {
    width: 100%;
    padding: 1px 2px;
    min-width: 138px;
    color: gray;
    font-family: Georgia, "Times New Roman", serif;
  }

  .backdate {
    display: none;
  }